<ul class='gallery-content' role='tablist'>
    <li class='gallery-content__item' role='tab'>
        <div class='gallery-content__picture'>
            {{> picture}}
        </div>
        <div class='gallery-content__descriptive-card'>
            {{> descriptive-card}}
        </div>
    </li>
</ul>
