<div class='gallery'>
    {{> header headerData}}
    <div class="gallery__content">
        <button class='gallery__arrow-button gallery__arrow-button--left'
            aria-label="{{buttons.buttonLeft.ariaLabel}}"
            aria-hidden="{{buttons.buttonLeft.ariaHidden}}">
            <span class="fa-solid fa-chevron-left"></span>
        </button>
        {{> gallery-content-renderer galleryContent}}
        {{> gallery-navigation galleryContent}}
        <button class='gallery__arrow-button gallery__arrow-button--right'
            aria-label="{{buttons.buttonRight.ariaLabel}}"
            aria-hidden="{{buttons.buttonRight.ariaHidden}}">
            <span class="fa-solid fa-chevron-right"></span>
        </button>
    </div>
</div>
