<div class='gallery'>
    <button class='gallery__arrow-button gallery__arrow-button--left'>
        <span></span>
    </button>
    <div class="gallery__content">
        {{> gallery-content-renderer}}
        {{> gallery-navigation}}
    </div>
    <button class='gallery__arrow-button gallery__arrow-button--right'>
        <span></span>
    </button>
</div>
