<nav class='gallery-navigation'>
    <u class='gallery-navigation__container-buttons'>
        <li class='gallery-navigation__item-button'>
            <button class='gallery-navigation__button'></button>
        </li>
    </u>
</nav>
