<nav class='gallery-navigation'>
    <ul class='gallery-navigation__container-buttons'>
        {{#each content}}
            <button class='gallery-navigation__button'>
                <li class='gallery-navigation__item-button fa-solid fa-circle'></li>
            </button>
        {{/each}}
    </ul>
</nav>